<div class="game-detail">
  <div class="columns medium-8">
    <div class="row">
      <div class="inner clearfix">
        <div class="columns small-6 text-right">
          <h3><i class="fa fa-star-o"></i> {{AwayTeamName}} {{AwayTeamNickname}}<br /><small>{{AwayOverallWins}} - {{AwayOverallLosses}}</small></h3>
          <h1 class="score">{{AwayTeamScore}}</h1>
          <p>Total yards: {{AwayTotalYards}}</p>
          <p>First downs: {{AwayFirstDowns}}</p>
        </div>
        <div class="columns small-6">
          <h3>{{HomeTeamName}} {{HomeTeamNickname}} <i class="fa fa-star-o"></i><br /><small>{{HomeOverallWins}} - {{HomeOverallLosses}}</small></h3>
          <h1 class="score">{{HomeTeamScore}}</h1>
          <p>Total yards: {{HomeTotalYards}}</p>
          <p>First downs: {{HomeFirstDowns}}</p>
        </div>
        <div class="columns small-12 game-meta text-center">
          <div class="meta-item">
            <i class="fa fa-map-marker"></i> {{VenueName}}
          </div>
          <div class="meta-item">
            <i class="fa fa-calendar-o"></i> {{GameDate}}
          </div>
          <div class="meta-item">
            <i class="fa fa-clock-o"></i> {{GameTime}}
          </div>
        </div>
        <hr />
        <div class="columns small-12 text-center">
          <h5>Rushing</h5>
        </div>
        <div class="columns small-6 text-right">
          <p>Rush attempts: {{AwayRushingAttempts}}</p>
          <p>Rush yards: {{AwayRushingYards}}</p>
          <p>Rush yards per attempt: {{AwayRushingYardsPerAttempt}}</p>
        </div>
        <div class="columns small-6">
          <p>Rush attempts: {{HomeRushingAttempts}}</p>
          <p>Rush yards: {{HomeRushingYards}}</p>
          <p>Rush yards per attempt: {{HomeRushingYardsPerAttempt}}</p>
        </div>
        <div class="columns small-12 text-center">
          <hr />
          <h5>Passing</h5>
        </div>
        <div class="columns small-6 text-right">
          <p>Pass completions: {{AwayPassCompletions}}</p>
          <p>Pass attempts: {{AwayPassAttempts}}</p>
          <p>Pass interceptions: {{AwayPassingInterceptions}}</p>
          <p>Passing yards: {{AwayPassingYards}}</p>
          <p>Yards per catch: {{AwayYardsPerCatch}}</p>
        </div>
        <div class="columns small-6">
          <p>Pass completions: {{HomePassCompletions}}</p>
          <p>Pass attempts: {{HomePassAttempts}}</p>
          <p>Pass interceptions: {{HomePassingInterceptions}}</p>
          <p>Passing yards: {{HomePassingYards}}</p>
          <p>Yards per catch: {{HomeYardsPerCatch}}</p>
        </div><div class="columns small-12 text-center">
          <hr />
          <h5>Fumbles</h5>
        </div>
        <div class="columns small-6 text-right">
          <p>Fumbles: {{AwayFumbles}}</p>
          <p>Fumbles lost: {{AwayFumblesLost}}</p>
        </div>
        <div class="columns small-6">
          <p>Fumbles: {{HomeFumbles}}</p>
          <p>Fumbles lost: {{HomeFumblesLost}}</p>
        </div>
        <div class="columns small-12 text-center">
          <hr />
          <h5>Punting</h5>
        </div>
        <div class="columns small-6 text-right">
          <p>Punts: {{AwayPunts}}</p>
          <p>Punting average: {{AwayPuntingAverage}}</p>
          <p>Punting yards: {{AwayPuntingYards}}</p>
        </div>
        <div class="columns small-6">
          <p>Punts: {{HomePunts}}</p>
          <p>Punting average: {{HomePuntingAverage}}</p>
          <p>Punting yards: {{HomePuntingYards}}</p>
        </div>
        <div class="columns small-12 text-center">
          <hr />
          <h5>Penalties</h5>
        </div>
        <div class="columns small-6 text-right">
          <p>Penalties: {{AwayPenalties}}</p>
          <p>Penalty Yards: {{AwayPenaltyYards}}</p>
        </div>
        <div class="columns small-6">
          <p>Penalties: {{HomePenalties}}</p>
          <p>Penalty Yards: {{HomePenaltyYards}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="columns medium-4">
    <h4>Box score</h4>
    <table class="box-score">
      <tbody>
        <tr>
          <td></td>
          <td>1st</td>
          <td>2nd</td>
          <td>3rd</td>
          <td>4th</td>
          <td>OT</td>
          <td>Final</td>
        </tr>
        <tr>
          <td>{{AwayTeamName}}</td>
          <td>{{AwayFirstQuarterPoints}}</td>
          <td>{{AwaySecondQuarterPoints}}</td>
          <td>{{AwayThirdQuarterPoints}}</td>
          <td>{{AwayFourthQuarterPoints}}</td>
          <td>{{AwayOvertimePoints}}</td>
          <td>{{AwayTeamScore}}</td>
        </tr>
        <tr>
          <td>{{HomeTeamName}}</td>
          <td>{{HomeFirstQuarterPoints}}</td>
          <td>{{HomeSecondQuarterPoints}}</td>
          <td>{{HomeThirdQuarterPoints}}</td>
          <td>{{HomeFourthQuarterPoints}}</td>
          <td>{{HomeOvertimePoints}}</td>
          <td>{{HomeTeamScore}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
