<div class="inner{{#if HomeTeamFav}} faved{{else}}{{#if AwayTeamFav}} faved{{/if}}{{/if}}">
  <div class="team away-team{{#if AwayTeamWon}} winner{{/if}}">
    {{favAway AwayTeamFav}}
    {{AwayTeamName}} <span class="mascot">{{AwayTeamNickname}}</span>
    <span class="right"><i class="fa fa-chevron-right"></i>{{AwayTeamScore}}</span>
  </div>
  <div class="team home-team{{#if HomeTeamWon}} winner{{/if}}">
    {{favHome HomeTeamFav}}
    {{HomeTeamName}} <span class="mascot">{{HomeTeamNickname}}</span>
    <span class="right"><i class="fa fa-chevron-right"></i>{{HomeTeamScore}}</span>
  </div>
  <div class="game-meta">{{date GameDate}} {{#if GameScoreIsFinal}}<span class="right">Final</span>{{/if}}</div>
</div>
