<td>{{date GameDate}}</td>
<td{{#if AwayTeamWon}} class="winner"{{/if}}>{{AwayTeamName}} <span class="right">{{AwayTeamScore}}</span></td>
<td{{#if HomeTeamWon}} class="winner"{{/if}}>{{HomeTeamName}} <span class="right">{{HomeTeamScore}}</span></td>
